* {
  box-sizing: border-box;
}

#wrapper {
   background-color: #c0b46c;
   padding: 1em;
   width: 700px;
   margin: auto;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.num-inputs {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
}

.btns-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 150px;
}

button {
  background-color: yellow;
  color: red;
  padding: 0.5em;
  font-weight: 800;
}

.ausgabe {
  text-align: center;
}