.container {
  display: grid;
  grid-template-columns: 150px auto;
}

.navbar {
  border: 1px solid lightgreen;
}

.main {
  padding: 1rem;
  border: 1px solid red;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
}