* {
  box-sizing: border-box;
}

#wrapper {
  background-color: #1874cd;
  color: white;
  width: fit-content;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

select {
  width: 100%;
}

button {
  width: 100%;
}