* {
  box-sizing: border-box;
}

#wrapper {
  background-color: #b8dcdc;
  padding: 1em;
  width: 750px;
  margin: auto;
}

header {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto;
  gap: 0.7em;
}

.adresse {
  grid-area: 1 / 3 / span 2 / span 1;
  border: 3px solid #086c5c;
  border-radius: 1em;
  padding: 0.5em;
  padding-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2em;
}

.a-inputs {
  width: 100%;
  text-align: right;
  padding-right: 20%;
}

.a-inputs input {
  width: 60%;
}

.itm {
  background-color: #88ccc4;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 2em 1em;
}

button {
  background-color: #086c5c;
  padding: 0.5em;
  border-radius: 0.5em;
  color: white;
  font-weight: 900;
  width: 180px;
  height: 40px;
}

.ausgabe {
  margin-top: 1em;
  background-color: #086c5c;
  color: white;
  padding:0.7em;
  padding-bottom: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.ausgabe h2 {
  grid-area: 1 / 1 / span 1 / span 2;
}

.ausgabe-itm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}